---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="es-UY">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body class="container flex flex-col justify-items-center items-center mx-auto w-1/3">
		<Header />
		<main>
			<content>
				<ul>
					{posts.map((post) => (
						<li class="list-none">
							<a class="visited:text-indigo-200" href={post.url}>{post.frontmatter.title}</a>
							<time class="text-gray-400 text-sm self-end"
								datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('es-UY', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
						</li>
					))}
				</ul>
			</content>
			<Footer />
		</main>
	</body>
</html>
