---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	}

}

const { content: { title, description, pubDate, updatedDate, heroImage } } = Astro.props as Props;
---

<html>

<head>
	<BaseHead title={title} description={description} />
</head>

<body class="container flex flex-col justify-items-center items-center mx-auto w-1/3">
	<main>
		<article class="prose dark:prose-invert">
			{heroImage && (
			<img class="object-cover my-8 rounded-lg shadow-md border-gray-200" src={heroImage} alt="" />
			)}
			<h1 class="title">{title}</h1>
			{pubDate && <time>{pubDate}</time>}
			<div class="text-gray-400 text-xs">{updatedDate && <div>Actualizado por última vez:
					<time>{updatedDate}</time></div>}</div>
			<hr />
			<slot />
		</article>
	</main>
	<Footer />
</body>

</html>